#cardContainer{
max-width: 18rem;  
display:flex; 
flex-direction:column;
 gap:2em; 
align-items:center;
align-content:space-evenly; 
justify-content:space-evenly 
}


img{
    border-radius: 15px;
    box-shadow:rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
    width: 200px;
    height: 200px;
    max-height: 200px;
}