#cardContainer{
max-width: 18rem;  
display:flex; 
flex-direction:column;
 gap:2em; 
align-items:center;
align-content:space-evenly; 
justify-content:space-evenly ;


}

#dragParent{
    display: flex; 
    flex-wrap: wrap;
     flex-direction: row;
      gap: 2em ;
      justify-content: center;
      max-width: 1180px;
      margin-top: 80px;
      
      /* justify-content:center */
}
.home-page{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
img{
    border-radius: 15px;
    box-shadow:rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
    width: 100px;
    height: 100px;
    max-height: 100px;
}
.form-base{
    margin-top: 100px;
    text-align: center;
}
@media (max-width:768px) {
    #dragParent{
        justify-content: center;
    }
    .inputParent, input{
        width: 60vw;
    }
}